solargis_common_enums.schema.json
solargis_common_types.schema.json
solargis_timeseries-dataset.schema.json/.tox
/dist
/build
/*.egg-info
*.pyc
*.tar.gz
*.whl
__pycache__
/.idea
*.exe
*.tar.xz
*.so
*.ll
*precompiled_psa*
*.pyd
/genericsat
.git/
.venv/

